---
import Instagram from '../components/icons/instagram.astro';
---

<footer>
    <nav>
        <ul>
            <li><a href="https://www.instagram.com/_heelenaa__/#"></a>Instagram</li>
            <li><a href="https://github.com/helenna6/portfolio_hgm">Git Hub</a></li>
        </ul>
    </nav>
</footer>

<style>
    footer{
        background-color: black;
        color: aqua;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul{
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }
</style>